@{
    ViewBag.Title = "Index";
}

<h2>Partial View</h2>
<p>
this is current Date : @DateTime.Now
</p>

@using (Html.BeginForm())
{ 

<p>
    @Html.DropDownList("Number",(IEnumerable<SelectListItem>)ViewBag.lists)
</p>
}




<p>

    Month : @Html.Partial("PartialView")
</p>


<p>
    @Html.Partial("STpartial")
</p>


<p>
    @Html.ActionLink("Go to Partial View Form", "index", "PartialViewForm");
</p>